<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/js/sha256.js"></script>
<script src="/js/catflap.js"></script>
<link rel="stylesheet" href="/css/catflap.css" />
<title>Catflap | No dogs allowed!</title>
</head>
<body id="home">
<div id="logo-wrapper"><img id="logo" class="centered" src="/images/catflap.png" /></div>
<div id="token-form-wrapper" class="centered">
    <input id="token" name="token" type="text" class="default-value" value="Enter your pass phrase here." />
  <p id="locked-message" class="centered">The site you are trying to access is locked. You must enter a valid pass phrase
  to enter the site.</p>
</div>
</body>
</html>
